<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Ficha</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let aprendiz of aprendices | paginate:{itemsPerPage:5, currentPage:p}">
            <td [innerHTML]="mostrarDatos(aprendiz.nombre)"></td>
            <td [innerHTML]="mostrarDatos(aprendiz.apellido)"></td>
            <td [innerHTML]="mostrarDatos(aprendiz.ficha)"></td>
        </tr>
    </tbody>
</table>

<pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>